<div class="container">
    <div class="panel panel-default">
        <div class="panel-body"> 
            <div class="col-12 col-sm-10 offset-sm-1" id="outer">
                <div *ngIf="weathers">
                  <div class="row" id="inner" *ngFor="let climate of weathers" (click)="onWeatherClicked(climate)">
                    <hr>
                    <div class="row-content col-sm-6">
                      <span>Date : {{ climate.dt_txt | date }} </span><br />
                      <span>Day : {{ climate.dt_txt | date: "EEE" }} </span>
                    </div>
                    <div class="row-content offset-sm-2 col-sm-6">
                      <span>Temp: {{ climate.main.temp_min }} &#8457;</span><br />
                      <span>Wind Speed: {{ climate.wind.speed }} m/s</span><br />
                      <span>Cloud {{climate.clouds.all}}%</span>
                    </div>
                    <hr>
                  </div>
                  
                </div>
              </div>
        </div>
    </div>
</div>
