<div class="container">
    <div class="col-12 col-sm-10 offset-sm-1" id="outer">
      <div *ngIf="weathers">
        <div class="row" id="inner">
          <div class="row-content col-sm-6">
            <span>Date : {{ weathers.dt_txt | date }} </span><br />
            <span>Day : {{ weathers.dt_txt | date: "EEE" }} </span><br>
            <span>Description : {{ weathers.weather[0].description }} </span><br>
            <span> Mainly : {{ weathers.weather[0].main  }} </span><br>
            <span>Sea Level : {{ weathers.main.sea_level  }} </span><br>
          </div>
          <div class="row-content offset-sm-2 col-sm-6">
            <span>Temp: {{ weathers.main.temp_min }} &#8457;</span><br />
            <span>Wind Speed: {{ weathers.wind.speed }} m/s</span><br />
            <span>Clouds: {{ weathers.clouds.all }}%</span><br>
            <span>Pressure : {{ weathers.main.pressure  }} </span><br>
            <span>Humidity : {{ weathers.main.humidity }} </span><br>
          </div>
        </div>
      </div>
    </div>
  </div>
